<%= form_for(@twitter) do |f| %>
  <div class="field">
    <p>
      <%= f.label :message %><br>
      <%= f.text_field :message %>
    </p>
  </div>
  <div class="actions">
    <p>
      <%= f.submit 'Post to Twitter' %>
    </p>
  </div>
<% end %>
